.pa {
  position: absolute;
}
.pr {
  position: relative;
}
.pf {
  position: fixed;
}
.fl {
  float: left;
  display: inline;
}
.fr {
  float: right;
  display: inline;
}
.di {
  display: inline;
}
.db {
  display: block;
}
.dn {
  display: none;
}
.dt {
  display: table;
}
.dib {
  display: inline-block;
}
.mc {
  margin-left: auto;
  margin-right: auto;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
